In [1]:
import pandas as pd
import random
import utils.functions as f
from utils.stop_words_custom import my_stop_words as stop_words
pd.set_option('display.max_colwidth', -1)

In [2]:
df30 = f.get_data("data/01_no_april/30.xlsx")
df31 = f.get_data("data/00_initial/31.xlsx")
df32 = f.get_data("data/00_initial/32.xlsx")
df33 = f.get_data("data/00_initial/33.xlsx")
df34 = f.get_data("data/00_initial/34.xlsx")
df35 = f.get_data("data/00_initial/35.xlsx")
df36 = f.get_data("data/00_initial/36.xlsx")
df37 = f.get_data("data/00_initial/37.xlsx")
df38 = f.get_data("data/00_initial/38.xlsx")
df39 = f.get_data("data/00_initial/39.xlsx")
df40 = f.get_data("data/02_no_june/40.xlsx")

In [3]:
df30.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76001 entries, 0 to 76000
Data columns (total 19 columns):
pubdate                 76001 non-null datetime64[ns]
id                      76001 non-null int64
guid                    76001 non-null object
link                    76001 non-null object
author                  76001 non-null object
title                   76001 non-null object
description             76001 non-null object
source                  76001 non-null object
user_id                 76001 non-null int64
profile_image_url       76001 non-null object
user_statuses_count     76001 non-null int64
user_friends_count      76001 non-null int64
user_followers_count    76001 non-null int64
user_created_at         76001 non-null object
user_bio                55912 non-null object
user_location           50136 non-null object
lang                    76001 non-null object
code                    76001 non-null object
coords                  9 non-null object
dtypes: datetime64[ns](1), int64(5), object(13)
memory usage: 11.0+ MB

In [4]:
df31.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
id                      100000 non-null int64
guid                    100000 non-null object
link                    100000 non-null object
pubdate                 100000 non-null object
author                  100000 non-null object
title                   100000 non-null object
description             100000 non-null object
source                  100000 non-null object
user_id                 100000 non-null int64
profile_image_url       100000 non-null object
user_statuses_count     100000 non-null int64
user_friends_count      100000 non-null int64
user_followers_count    100000 non-null int64
user_created_at         100000 non-null object
user_bio                75534 non-null object
user_location           66894 non-null object
lang                    100000 non-null object
code                    100000 non-null object
coords                  10 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [5]:
df32.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
id                      100000 non-null int64
guid                    100000 non-null object
link                    100000 non-null object
pubdate                 100000 non-null object
author                  100000 non-null object
title                   99999 non-null object
description             99999 non-null object
source                  100000 non-null object
user_id                 100000 non-null int64
profile_image_url       100000 non-null object
user_statuses_count     100000 non-null int64
user_friends_count      100000 non-null int64
user_followers_count    100000 non-null int64
user_created_at         100000 non-null object
user_bio                77379 non-null object
user_location           67109 non-null object
lang                    100000 non-null object
code                    100000 non-null object
coords                  9 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [6]:
df33.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
id                      100000 non-null int64
guid                    100000 non-null object
link                    100000 non-null object
pubdate                 100000 non-null object
author                  100000 non-null object
title                   100000 non-null object
description             100000 non-null object
source                  100000 non-null object
user_id                 100000 non-null int64
profile_image_url       100000 non-null object
user_statuses_count     100000 non-null int64
user_friends_count      100000 non-null int64
user_followers_count    100000 non-null int64
user_created_at         100000 non-null object
user_bio                72686 non-null object
user_location           65295 non-null object
lang                    100000 non-null object
code                    100000 non-null object
coords                  15 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [7]:
df34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
id                      100000 non-null int64
guid                    100000 non-null object
link                    100000 non-null object
pubdate                 100000 non-null object
author                  100000 non-null object
title                   100000 non-null object
description             100000 non-null object
source                  100000 non-null object
user_id                 100000 non-null int64
profile_image_url       100000 non-null object
user_statuses_count     100000 non-null int64
user_friends_count      100000 non-null int64
user_followers_count    100000 non-null int64
user_created_at         100000 non-null object
user_bio                76900 non-null object
user_location           67412 non-null object
lang                    100000 non-null object
code                    100000 non-null object
coords                  15 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [8]:
df35.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
id                      100000 non-null int64
guid                    100000 non-null object
link                    100000 non-null object
pubdate                 100000 non-null object
author                  100000 non-null object
title                   100000 non-null object
description             100000 non-null object
source                  100000 non-null object
user_id                 100000 non-null int64
profile_image_url       100000 non-null object
user_statuses_count     100000 non-null int64
user_friends_count      100000 non-null int64
user_followers_count    100000 non-null int64
user_created_at         100000 non-null object
user_bio                72088 non-null object
user_location           63952 non-null object
lang                    100000 non-null object
code                    100000 non-null object
coords                  11 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [9]:
df36.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
id                      100000 non-null int64
guid                    100000 non-null object
link                    100000 non-null object
pubdate                 100000 non-null object
author                  100000 non-null object
title                   100000 non-null object
description             100000 non-null object
source                  100000 non-null object
user_id                 100000 non-null int64
profile_image_url       100000 non-null object
user_statuses_count     100000 non-null int64
user_friends_count      100000 non-null int64
user_followers_count    100000 non-null int64
user_created_at         100000 non-null object
user_bio                73006 non-null object
user_location           65117 non-null object
lang                    100000 non-null object
code                    100000 non-null object
coords                  15 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [10]:
df37.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99981 entries, 0 to 99980
Data columns (total 19 columns):
id                      99981 non-null int64
guid                    99981 non-null object
link                    99981 non-null object
pubdate                 99981 non-null object
author                  99981 non-null object
title                   99981 non-null object
description             99974 non-null object
source                  99981 non-null object
user_id                 99981 non-null int64
profile_image_url       99981 non-null object
user_statuses_count     99981 non-null int64
user_friends_count      99981 non-null int64
user_followers_count    99981 non-null int64
user_created_at         99981 non-null object
user_bio                72680 non-null object
user_location           64221 non-null object
lang                    99981 non-null object
code                    99981 non-null object
coords                  17 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [11]:
df38.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99584 entries, 0 to 99583
Data columns (total 19 columns):
id                      99584 non-null int64
guid                    99584 non-null object
link                    99584 non-null object
pubdate                 99584 non-null object
author                  99584 non-null object
title                   99584 non-null object
description             99584 non-null object
source                  99584 non-null object
user_id                 99584 non-null int64
profile_image_url       99584 non-null object
user_statuses_count     99584 non-null int64
user_friends_count      99584 non-null int64
user_followers_count    99584 non-null int64
user_created_at         99584 non-null object
user_bio                72539 non-null object
user_location           64022 non-null object
lang                    99584 non-null object
code                    99584 non-null object
coords                  23 non-null object
dtypes: int64(5), object(14)
memory usage: 14.4+ MB

In [12]:
df39.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
id                      100000 non-null int64
guid                    100000 non-null object
link                    100000 non-null object
pubdate                 100000 non-null object
author                  100000 non-null object
title                   100000 non-null object
description             100000 non-null object
source                  100000 non-null object
user_id                 100000 non-null int64
profile_image_url       100000 non-null object
user_statuses_count     100000 non-null int64
user_friends_count      100000 non-null int64
user_followers_count    100000 non-null int64
user_created_at         100000 non-null object
user_bio                72668 non-null object
user_location           64398 non-null object
lang                    100000 non-null object
code                    100000 non-null object
coords                  18 non-null object
dtypes: int64(5), object(14)
memory usage: 14.5+ MB

In [13]:
df40.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20993 entries, 0 to 20992
Data columns (total 19 columns):
pubdate                 20993 non-null datetime64[ns]
id                      20993 non-null int64
guid                    20993 non-null object
link                    20993 non-null object
author                  20993 non-null object
title                   20993 non-null object
description             20993 non-null object
source                  20993 non-null object
user_id                 20993 non-null int64
profile_image_url       20993 non-null object
user_statuses_count     20993 non-null int64
user_friends_count      20993 non-null int64
user_followers_count    20993 non-null int64
user_created_at         20993 non-null object
user_bio                15422 non-null object
user_location           13561 non-null object
lang                    20993 non-null object
code                    20993 non-null object
coords                  2 non-null object
dtypes: datetime64[ns](1), int64(5), object(13)
memory usage: 3.0+ MB

In [10]:
df_all = pd.concat([df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40], sort=False)

In [12]:
df_all.head()

,pubdate,id,guid,link,author,title,description,source,user_id,profile_image_url,user_statuses_count,user_friends_count,user_followers_count,user_created_at,user_bio,user_location,lang,code,coords
0,2019-05-01 02:25:51,24000,https://twitter.com/fabianafn/statuses/1123473589460721666,https://twitter.com/fabianafn/statuses/1123473589460721666,fabianafn,RT @robertabastosn: S√≥ para lembrar:\n117 fuzis foram apreendidos em um apartamento que pertencia ao vizinho do Bolsonaro que executou Marie‚Ä¶,S√≥ para lembrar:\n117 fuzis foram apreendidos em um apartamento que pertencia ao vizinho do Bolsonaro que executou Marielle.\nO q est√£o fazendo sobre isso?,Twitter for Android,28886238,https://pbs.twimg.com/profile_images/1122196865687138304/iBMCQs-i_normal.jpg,14652,1545,674,2009-04-04 18:39:53,"Desobedecer um sistema doente √© minha forma de estar presente.\n\n\nPara os bots, s√≥ reservo blocks\n#LulaLivre",NaN,pt,53f8e32da0f6571df03d749569cee69c,NaN
1,2019-05-01 02:25:47,24001,https://twitter.com/SergioT1910/statuses/1123473572364791809,https://twitter.com/SergioT1910/statuses/1123473572364791809,SergioT1910,Bolsonaro eh um cuzao,Bolsonaro eh um cuzao,Twitter for Android,420109560,https://pbs.twimg.com/profile_images/1063962644628103168/zHY4MZDD_normal.jpg,66366,1833,2190,2011-11-24 01:05:28,"Simples, humilde, curioso, carioca, zona norte. Mas n√£o sou de bobeira. \n‚ôé.","RJ, ZN, Brasil, PAR√çS. FR ‚öÅüòâ",pt,014e02cf4e822a43d94cd48a0fa1a4a0,NaN
2,2019-05-01 02:25:45,24002,https://twitter.com/nuno_marqs/statuses/1123473565133811713,https://twitter.com/nuno_marqs/statuses/1123473565133811713,nuno_marqs,"@andreazzaeditor Tem casco, exato, como qualquer outro ruminante.\n\nA necessidade de campanha constante deve-se ao fato de que o governo de Bolsonaro n√£o compromete sua integridade pela governabilidade, como p.ex. troca de cargos.","@andreazzaeditor Tem casco, exato, como qualquer outro ruminante.\n\nA necessidade de campanha constante deve-se ao fato de que o governo de Bolsonaro n√£o compromete sua integridade pela governabilidade, como p.ex. troca de cargos.",Twitter for Android,72658537,https://pbs.twimg.com/profile_images/952600044418498560/jS92gnb4_normal.jpg,3463,200,138,2009-09-08 16:28:31,"Sempre me chamaram de 'do contra', hoje percebo que estavam me elogiando.","Salvador, Brasil",pt,d105aeeec82739351245e1cf36ea04f4,NaN
3,2019-05-01 02:25:45,24003,https://twitter.com/Cleo23357718/statuses/1123473564227776513,https://twitter.com/Cleo23357718/statuses/1123473564227776513,Cleo23357718,RT @AnaPaulaVolei: O atual governo tem defeitos? H√° cr√≠ticas? Sim. Bolsonaro acerta todas? N√£o. Mas foi tbm por not√≠cias assim que eu tirei‚Ä¶,O atual governo tem defeitos? H√° cr√≠ticas? Sim. Bolsonaro acerta todas? N√£o. Mas foi tbm por not√≠cias assim que eu tirei o PT do governo.\n\n56 invas√µes no 1¬∫ Tri. de 2016.\n43 no 1¬∫ Tri. de 2018.\nUMA invas√£o no 1¬∫ Trimestre de 2019!\n\nInvas√µes de terra caem\n\nhttps://t.co/Uf236qZwMU,Twitter for iPhone,992849707348226048,https://pbs.twimg.com/profile_images/992855961814601728/79nHoB4K_normal.jpg,488,40,8,2018-05-05 15:33:11,"Before criticize the world, fix your own life. (Jordan Peterson)","N√∏tter√∏y, Norge",pt,a3b59728ab8eb6a722ffd56caaefb56e,NaN
4,2019-05-01 02:25:44,24004,https://twitter.com/ritac_aa/statuses/1123473558188044294,https://twitter.com/ritac_aa/statuses/1123473558188044294,ritac_aa,"RT @felipeneto: Tradu√ß√£o da fala do Bolsonaro:\n\n‚ÄúQuem quiser fazer turismo sexual aqui, fique √† vontade. Pode explorar a mulher brasileira,‚Ä¶","Tradu√ß√£o da fala do Bolsonaro:\n\n‚ÄúQuem quiser fazer turismo sexual aqui, fique √† vontade. Pode explorar a mulher brasileira, objetificar e levar essa imagem pro mundo. O que n√£o pode √© ser VIADO‚Äù.\n\nEsse sujeito deve comer capim como refei√ß√£o. N√£o √© poss√≠vel! https://t.co/zePjLuXOPa",Twitter for Android,3020243026,https://pbs.twimg.com/profile_images/1112873963066220549/89dMpyEW_normal.jpg,1880,60,25,2015-02-05 12:58:22,"Qu√≠mica, mestre, carioca, vasca√≠na, leonina, esquerdista, at√©ia, amante do meio ambiente, livros, m√∫sica e filmes de terror. Siga por sua conta e risco.","Rio de Janeiro, Brasil",pt,bc1fb289221717788fc377f56e40112b,NaN

In [13]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996559 entries, 0 to 20992
Data columns (total 19 columns):
pubdate                 996559 non-null object
id                      996559 non-null int64
guid                    996559 non-null object
link                    996559 non-null object
author                  996559 non-null object
title                   996558 non-null object
description             996551 non-null object
source                  996559 non-null object
user_id                 996559 non-null int64
profile_image_url       996559 non-null object
user_statuses_count     996559 non-null int64
user_friends_count      996559 non-null int64
user_followers_count    996559 non-null int64
user_created_at         996559 non-null object
user_bio                736814 non-null object
user_location           652117 non-null object
lang                    996559 non-null object
code                    996559 non-null object
coords                  144 non-null object
dtypes: int64(5), object(14)
memory usage: 152.1+ MB

In [14]:
df_all.shape

(996559, 19)

In [15]:
writer = pd.ExcelWriter(r'data/03_just_may/may.xlsx', engine='xlsxwriter',options={'strings_to_urls': False})
df_all.to_excel(writer)
writer.close()