In [41]:
import re
import pandas as pd
import functions as f
pd.set_option('display.max_colwidth', -1)

In [147]:
text = "Mais mais um gol do Governo #jair @jairbolsonaro hoje! Confisco dos bens dos traficantes antes do trânsito em julgado. Dinheiro será usado para aplicação em investimentos sociais. @SF_Moro"

In [148]:
text2 = text.split()

In [149]:
def clean_text(text):
    characteres_authorizeds = ["@","#"," "]
    stop_words              = ["mais","hoje","um", "do", "dos", "antes", "em", "será", "para", "aplicação"]
    capitalized_words       = [w for w in text.split() if w.istitle()]
    mention                 = [w for w in text.split() if re.findall(r"@\w+", w)]
    hashtag                 = [w for w in text.split() if re.findall(r"#\w+", w)]
    plural                  = [w for w in text.split() if w.endswith('s')]
    x = [w.lower() for w in text]
    y = [c for c in x if c.isalpha() or c in characteres_authorizeds]
    z = "".join(y)
    cleaned = [w for w in z.split() if w not in stop_words and len(w) >= 3]
    uniques                 = [w for w in set(z.split())]
    uniques_cleaned         = [w for w in set(cleaned)]
    return(cleaned, mention, hashtag, plural, uniques, uniques_cleaned)

In [150]:
text_cleaned, mentions, hashtags, plural, uniques, uniques_cleaned = clean_text(text)
print(" ".join(text_cleaned))
print("-----------------------")
print(hashtags)
print("-----------------------")
print(mentions)
print("-----------------------")
print(plural)
print("-----------------------")
print(uniques)
print("-----------------------")
print(uniques_cleaned)
print("-----------------------")

gol governo #jair @jairbolsonaro confisco bens traficantes trânsito julgado dinheiro usado investimentos sociais @sfmoro
-----------------------
['#jair']
-----------------------
['@jairbolsonaro', '@SF_Moro']
-----------------------
['Mais', 'mais', 'dos', 'bens', 'dos', 'traficantes', 'antes', 'investimentos']
-----------------------
['sociais', '@jairbolsonaro', 'hoje', 'para', 'confisco', 'julgado', 'dinheiro', '#jair', '@sfmoro', 'bens', 'governo', 'trânsito', 'em', 'do', 'aplicação', 'traficantes', 'usado', 'antes', 'dos', 'gol', 'investimentos', 'será', 'um', 'mais']
-----------------------
['sociais', '@jairbolsonaro', 'bens', '@sfmoro', 'governo', 'investimentos', 'trânsito', '#jair', 'julgado', 'dinheiro', 'traficantes', 'gol', 'usado', 'confisco']
-----------------------

In [151]:
list("bolsonaro")

['b', 'o', 'l', 's', 'o', 'n', 'a', 'r', 'o']

In [1]:
[c for c in "bolsonaro"]

['b', 'o', 'l', 's', 'o', 'n', 'a', 'r', 'o']

In [9]:
df = f.get_data('../data/10_classify_tweets/classify_tweets.xlsx')
df.head()

                                         description     class
0  É chegada a hora do Congresso reagir com um pe...  negative
1  Como sempre se afirmou e agora se confirma, Lu...  negative
2  #JairBolsonaro empregava cinco funcionárias qu...  negative
3  @DeputadoFederal Meu Deus, eu não te bloqueei ...  positive
4  @jairbolsonaro Presidente incitando o golpe na...  negative

In [16]:
chars_num = df["description"].apply(len)

In [18]:
(pd.DataFrame(chars_num)).describe()

       description
count  2119.000000
mean    183.880604
std      69.691282
min      26.000000
25%     128.000000
50%     179.000000
75%     244.000000
max     418.000000

In [21]:
def words_count(phrase):
    tokenized = phrase.split()
    return len(tokenized)

num_words = df["description"].apply(words_count)
num_words

0       43
1       32
2       13
3       24
4       32
5       27
6       18
7       16
8       14
9       18
10      55
11      31
12      16
13      33
14      30
15      28
16      34
17      15
18      17
19      40
20      26
21      21
22       9
23       7
24      11
25      50
26      20
27      11
28      14
29      12
        ..
2089    29
2090    15
2091    13
2092    41
2093    26
2094    42
2095    20
2096    14
2097    20
2098    34
2099    11
2100    41
2101    35
2102    26
2103    13
2104    23
2105    45
2106    25
2107    14
2108    20
2109    20
2110    30
2111    25
2112    28
2113    11
2114    26
2115    26
2116    44
2117    17
2118     7
Name: description, Length: 2119, dtype: int64

In [24]:
df.iloc[2118]

description    Bolsonaro é pior que Temer\n#LulaLivreSabadoSD...
class                                                   negative
Name: 2118, dtype: object

In [25]:
(pd.DataFrame(num_words)).describe()

       description
count  2119.000000
mean     24.748466
std      11.536880
min       3.000000
25%      15.000000
50%      23.000000
75%      34.000000
max      55.000000

In [36]:
criteria = df["description"].str.len() <= 26
df[criteria]

                    description     class
428  #CadêOQueiroz em Bolsonaro  negative

In [39]:
def hashtag_count(tweet):
    tokenized = tweet.split()
    hashtags = [w for w in tokenized if w.startswith("#")]
    return len(hashtags)

num_hashtags = df["description"].apply(hashtag_count)
num_hashtags

0       1
1       1
2       2
3       2
4       1
5       2
6       1
7       1
8       1
9       1
10      2
11      4
12      2
13      2
14      3
15      2
16      1
17      1
18      1
19      0
20      1
21      8
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
       ..
2089    2
2090    1
2091    3
2092    1
2093    1
2094    3
2095    2
2096    1
2097    2
2098    7
2099    1
2100    1
2101    1
2102    1
2103    7
2104    1
2105    1
2106    1
2107    2
2108    1
2109    2
2110    2
2111    1
2112    6
2113    2
2114    2
2115    1
2116    6
2117    5
2118    1
Name: description, Length: 2119, dtype: int64

In [42]:
df.iloc[2]

description    #JairBolsonaro empregava cinco funcionárias que nunca foram ao Congresso #BolsonaroEnvergonhaOBrasil https://t.co/bkJDe2by2c via @exame
class          negative
Name: 2, dtype: object

In [43]:
df.iloc[2112]

description    @jairbolsonaro Boa noite Presidente, o Brasil que queremos está chegando👏👏👏👏🇧🇷🇧🇷🇧🇷 ahhh..e adorei ver o senhor no The Noite com o Danilo Gentili!!😍😍 #BolsonaroOrgulhodoBrasil #bolsonaro #BrasilConservador #euapoionovaprevidencia #euapoioleianticrime #euaprovobolsonaro
class          positive
Name: 2112, dtype: object